<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">新規プロトタイプ投稿</h2>
    <%= render partial: 'form', locals: { prototype: @prototype } %>
    <%# ここに\form.html.erbを呼び出す記述を書く→部分テンプレートを使用することで可能になる %>
    </div>
  </div>
</div>